%h1 Welcome to OpenVDI
%p Please, select the machine you want to connect to

-if @running_machines
  %h2 Running Machines
  %table.table.table-bordered.table-hove
    %thead
      %th
      %th Name
      %th Description
      %th Actions

    %tbody
      - @running_machines.each do |machine|
        %tr
          %td
            %center= image_tag machine.image.avatar.url(:thumb)
          %td= machine.image.name
          %td= machine.image.description
          %td
            =link_to 'Connect', machine_path(machine) , :class => 'btn btn-mini btn-info', :id => "connect_machine_#{machine.id}", :method => :get
            =link_to 'Reboot', reboot_machine_path(machine) , :class => 'btn btn-mini btn-danger', :id => "reboot_machine_#{machine.id}", :method => :get, :data => { :confirm => 'Rebooting machine. Are you sure?' }
            =link_to 'Destroy', machine_path(machine) , :class => 'btn btn-mini btn-danger', :id => "destroy_machine_#{machine.id}", :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-if @available_images
  %h2 Available Images
  %table.table.table-bordered.table-hove
    %thead
      %th
      %th Name
      %th Description
      %th Actions

    %tbody
      - @available_images.each do |image|
        %tr
          %td 
            %center= image_tag image.avatar.url(:thumb)
          %td= image.name
          %td= image.description
          %td
            =link_to 'Launch', create_machine_path(image), :class => 'btn btn-mini btn-info', :id => "create_machine_#{image.id}", :method => :post

%br
