%h1 Machine launched

You can connect to the machine with this parameters:
%p
  %b Remote username:
  = @machine.remote_username
%p
  %b Remote password:
  = @machine.remote_password
%p
  %b Remote address:
  = @machine.ip



%applet{ :code => "appletvdi.class", :archive => "/appletvdi.jar" }
  %param{ :name => "vdidesktop_ip", :value => "#{@machine.ip}" }
  %param{ :name => "login", :value => "#{@machine.remote_username}" }
  %param{ :name => "password", :value => "#{@machine.remote_password}" }
