%h1 Machine launched


= link_to "View connection parameters", "#modalparameters", :role => "button", :class => "btn btn-primary", :data =>{:toggle =>"modal"}

%div{:id =>"modalparameters", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", :aria => {:labelledby => "myModalLabel", :hidden =>"true"}}
  %div{:class => "modal-header"}
    %button{:type => "button", :class =>"close", :data => {:dismiss =>"modal"}, :aria => {:hidden => "true"}}
      x
    %h4
      %center
        You can connect manually to the machine with this parameters using RDP
  %div{:class => "modal-body"}
    %p
      %b Remote username:
      = @machine.remote_username
    %p
      %b Remote password:
      = @machine.remote_password
    %p
      %b Remote address:
      = @machine.ip

%br
%br
%p
  If you don't connect automagically, do this :)
%p 
  Check 
  = link_to 'here', 'http://www.java.com/es/download/installed.jsp'
  if you have Java installed. Then, add this host to trust sites in your Java Control Panel. Security tab -> Edit Sites
%p
  If you are using Linux, install freerdp (sudo apt-get install freerdp-x11)
%p
  If you are using Mac OS X, install CoRD(http://sourceforge.net/projects/cord/files/cord/0.5.7/CoRD_0.5.7.zip/download) in your application folder.

%applet{ :code => "appletvdi.class", :archive => "/applet/appletvdi.jar" }
  %param{ :name => "vdidesktop_ip", :value => "#{@machine.ip}" }
  %param{ :name => "login", :value => "#{@machine.remote_username}" }
  %param{ :name => "password", :value => "#{@machine.remote_password}" }
